<!DOCTYPE html>

<html>
    <head>
            <title>Help</title>
            <link rel="icon" href="/img/weather.png">
            <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Ask {{name}} for help. Don't be shy.</p>
            <p>You may also call {{phone}} at odd hours.</p>
        </div>
        
        {{>footer}}
    </body>

</html>